@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
 html {
   width: 100%;
   height: 100vh;
   font-size: 10px;
   overflow: hidden;
   font-family: 'Poppins', Sans-Serif;
 }

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.Card {
  background-color: white;
  color: #6D6D6D;
  width: 28em;
  height: 28em;
  max-width: 80%;
  border-radius: 2.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding-top: 3.2em;
  padding-left: 3.2em;
  padding-right: 3.2em;
  padding-bottom: 2em;
}
.Card form {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Input {
  display: flex;
  width: 160px;
  height: 36px;
  background-color: #DADADA;
  border: none;
  border-radius: 0.6em;
  padding-left: 0.8em;
  font-weight: 500;
  font-size: 15px;
}
.Input::placeholder {
  font-weight: 400;
  font-size: 18px;
}
.Card form:focus, .Input:focus {
  box-shadow: 0 0 0 0;
  outline: none;
}
.Search {
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 0.6em;
  background-color: orange;
  padding: 0.6em;
}
#Icon-lupa {
  font-weight: 700;
  font-size: 1.6em;
}
.Dados {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.Cidade {
  padding-top: 0.4em;
  font-size: 1.4em;
  font-weight: 500;
}
.Temp {
  font-size: 7em;
  font-weight: 600;
}
.Ventos {
  height: 4em;
  width: 6em;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Celsius {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 4.6em;
  margin: auto 0;
  right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Celsius span {
  font-weight: 700;
  font-size: 2.5em;
}
.Ventos p {
  font-size: 0.8em;
}
.Dados-extras {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 1.2em;
}
.Humidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Humidade h2 {
  font-size: 1em;
}
.Ceu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Ceu h2 {
 font-size: 1em;
}
