@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
 html {
   width: 100%;
   height: 100vh;
   font-size: 10px;
   overflow: hidden;
   font-family: 'Poppins', Sans-Serif;
 }

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/534049/pexels-photo-534049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
}
.Card {
  background-color: white;
  color: black;
  width: 28em;
  height: 28em;
  max-width: 80%;
  border-radius: 2.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding: 2.2em  2.6em;
}
.Card form {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Input {
  display: flex;
  width: 168px;
  height: 36px;
  background-color: #DAEDFF;
  border: none;
  border-radius: 0.6em;
  padding-left: 0.8em;
  font-weight: 500;
  font-size: 15px;
}
.Input::placeholder {
  font-weight: 400;
  font-size: 15.6px;
  color: #778899;
}
.Card form:focus, .Input:focus {
  box-shadow: 0 0 0 0;
  outline: none;
}
.Search {
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 0.6em;
  background-color: black;
  padding: 0.6em;
}
#Icon-lupa {
  font-weight: 700;
  font-size: 1.6em;
  color: white;
}
.Dados {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Cidade {
  font-size: 1.8em;
  font-weight: 500;
  color: black;
}
.Cidade.small {
  font-size: 1.45em;
}
.Temp-celsius {
  width: 11em;
  height: 8.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 2.2em;
  z-index: 2;
}
.Temp {
  font-size: 6.2em;
  font-weight: 600;
}
.Celsius {
  font-size: 2.6em;
  font-weight: 700;
  margin-bottom: 1.2em;
}
.Ventos {
  height: 5em;
  width: 6.5em;
  position: absolute;
  bottom: 4em;
  margin: auto 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.Vel-do-vento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.Ventos h2 {
  font-size: 0.9em;
}
.Vel-do-vento p {
  font-size: 1em;
}
#Icon-wind {
  font-size: 1.2em;
}
.Weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5em;
  height: 4.5em;
  position: absolute;
  bottom: 4em;
  right: 0;
  margin: auto 0;
  background-color: #4169E1;
  border-radius: 1em;
}
.Weather-icon {
 width: 100%;
 height: 100%;
}

.Dados-extras {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  font-size: 1.2em;
  font-weight: 600;
}
.Dados-extras h2 {
  font-size: 1em;
}
.Dados-extras p {
  font-size: 0.86em;
}
.Humidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Ceu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 960px) {
  .Card {
    transform: scale(1.5);
  }
}